<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto_Nomadix</title>
    <link rel="stylesheet" href="../css/main.css">
    <meta name="description"
        content="Contacta con Nomadix para resolver cualquier duda sobre tu mudanza. Atención rápida y personalizada por teléfono, email o formulario online. ¡Estamos aquí para ayudarte!">
    <meta name="keywords" content="mudanzas nomadix, presupuesto mudanzas, mudanzas contacto">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
</head>
<body>
     <header> <!--Cabecera-->
        <div class="head">
            <div class="before_nav">
                <div class="box_texto">
                    <p>Contacta con Mudanzas Nomadix</p>
                    <div class="img_tel"><img class="wh_img" src="../imagenes/b56dfabb-c759-4c91-bb49-9335d37e29b1.png"
                            alt="contacto_icono" width="40" height="39"></div>
                    <p> 697 435 675 </p>
                </div>
            </div>
            <div class="menu_principal">
                <div class="cont_imgs">
                    <img class="camion" src="../imagenes/camion.png" alt="camion" width="150" height="81">
                    <img class="logo" src="../imagenes/logo1.png" alt="logo" width="250" height="75">
                </div>
                <nav class="nav"> <!--Menú de navegación-->
                    <ul class="lista_nav">
                        <li class="menu">
                            <a href="../index.html" class="iconos_menu"><img class="wh_img"
                                    src="../imagenes/Home-Silhouette-PNG-Image.png" alt="icono_home" width="40"
                                    height="38"></a>
                            <a class="enlace" href="../index.html">Home</a>
                        </li>
                        <li class="menu">
                            <a href="Galeria.html" class="iconos_menu"><img class="wh_img" src="../imagenes/galeria.png"
                                    alt="icono_galería" width="40" height="40"></a>
                            <a class="enlace" href="Galeria.html">Galería</a>
                        </li>
                        <li class="menu">
                            <a href="presupuesto.html" class="iconos_menu"><img class="wh_img"
                                    src="../imagenes/presupuesto(2).png" alt="icono_presupuesto" width="40"
                                    height="40"></a>
                            <a class="enlace" href="presupuesto.html">Presupuesto</a>
                        </li>
                        <li class="menu">
                            <a href="contacto.html" class="iconos_menu"><img class="wh_img"
                                    src="../imagenes/b56dfabb-c759-4c91-bb49-9335d37e29b1.png" alt="icono_contacto"
                                    width="40" height="39"></a>
                            <a class="indicador_pag" href="contacto.html">Contacto</a>
                        </li>
                    </ul>
                    <button class="menu-icon" id="menu-icon" aria-label="Abrir menú">
                        &#9776; <!-- Símbolo de tres puntitos -->
                    </button>
                </nav>
            </div>
        </div>
    </header>
    <main> <!--Cuerpo de la página web-->
        <section><!--Iconos contacto-->
            <div>
            <h2 class="tit">¿Necesitas hablar con nosotros?</h2>
                    <p id="textoContacto">Estamos aquí para ayudarte en cada paso de tu mudanza. Si tienes dudas, necesitas un presupuesto
                        o quieres más información sobre nuestros servicios, no dudes en contactarnos. Nuestro equipo te
                        ofrecerá una atención rápida y personalizada para hacer que tu mudanza sea sencilla y sin
                        preocupaciones. ¡Llámanos y estaremos encantados de atenderte!
                    </p>
            </div>
            <h2 class="tit">Contacto</h2>
            <hr class="hr">
            <div class="lista_contacto txt_centro">
                <div>
                    <img src="../imagenes/icono_correo.png" alt="Icono Correo" width="397" height="229">
                    <h2>Email</h2>
                    <p>Envía un mensaje</p>
                </div>
                <div>
                    <img src="../imagenes/icono_tel.png" alt="Icono Tel" width="215" height="366">
                    <h2>Teléfono</h2>
                    <p>Llámanos <br> <span class="negrita">(+34 947 002 963)</span></p>
                </div>
                <div>
                    <img src="../imagenes/icono_ubi.png" alt="Icono Ubi" width="397" height="404">
                    <h2>Dirección</h2>
                    <p>Visítanos <br> <span class="negrita">Avinguda Real de Madrid, 102, Pobles del Sud,Valencia</span>
                    </p>
                </div>
            </div>
            <hr class="hr">
        </section>
        <section class="map"><!--Ubicación-->
            <h2 class="tit">Ubicación</h2>
            <div class="searchMap">
                <input id ="search-box" type="text" placeholder="Introduce una dirección...">
                <button id="buscarRuta" name="buscarRuta" value="Buscar Ruta" >Buscar Ruta</button>
            </div>
            <div id="mapa"></div>   
        </section> 
    </main>
    <footer> <!--Pie de página-->
        <div class="ciudades txt_centro">
            <div>
                <h5>Mudanzas Nomadix</h5>
                <a href="https://www.google.com/maps" class="direccionn">Avinguda Real de Madrid, 102, Pobles del
                    Sud,Valencia</a>
                <p>Mudanzas Valencia, Servios de mudanzas, Emabalaje, Transporte, Seguridad, Trabajos
                    internacionales, Trabajos nacionales, Servicios personalizados</p>
                <h5>OFRECEMOS SERVICIOS DE MUDANZAS EN ESPAÑA</h5>
                <p>A coruña &#124; Albacete &#124; Alicante &#124; Almería &#124; Ávila &#124; Badajoz &#124; Barcelona
                    &#124; Bilbao &#124; Burgos &#124; Cáceres &#124; Cádiz &#124;
                    Castellón de la Plana &#124; Ceuta &#124; Ciudad Real &#124; Córdoba &#124; Cuenca &#124;
                    Donostia-San Sebastián &#124; Girona &#124; Granada &#124; Guadalajara &#124;
                    Huelva &#124; Huesca &#124; Jaén &#124; Jerez de la Frontera &#124; Gran Canaria &#124; León &#124;
                    Lleida &#124; Logroño &#124; Lugo &#124; Madrid &#124; Málaga &#124;
                    Melilla &#124; Murcia &#124; Ourense &#124; Oviedo &#124; Palma de Mollorca &#124; Pamplona &#124;
                    Salamanca &#124; Tenerife &#124; Santander &#124; Valencia </p>
            </div>
        </div>

        <div class="redes_sociales">
            <div>
                <ul class="documentacion"> <!--Documentación legal de la empresa-->
                    <li><a href="documentacion.html#aviso_legal">Aviso Legal</a></li>
                    <li><a href="documentacion.html#cond.generales">Condiciones generales de contratación</a></li>
                    <li><a href="documentacion.html#pol.priv">Política de privacidad</a></li>
                    <li><a href="documentacion.html#pol.cookies">Política de cookies</a></li>
                </ul>
            </div>
            <div>
                <ul class="iconos_redes"> <!--Enlaces que dirigen a las redes sociales de la empresa-->
                    <li><a href="https://es-es.facebook.com/"><img class="icon_redes" src="../imagenes/facebook.png"
                                alt="facebook" width="40" height="40"></a></li>
                    <li><a href="https://www.instagram.com/"><img class="icon_redes" src="../imagenes/instagram.png"
                                alt="Instagram" width="40" height="40"></a></li>
                    <li><a href="https://es.linkedin.com/"><img class="icon_redes" src="../imagenes/linkedin.png"
                                alt="Linkedin" width="40" height="40"></a></li>
                    <li><a href="https://www.youtube.com/"><img class="icon_redes" src="../imagenes/youtube.png"
                                alt="Youtube" width="40" height="40"></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="../js/script.js" defer></script>
     <!-- Mapa de Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFOJY8qsQgJa5JCpp_F_v_0Vcn94rc_u8&libraries=maps,marker,places&v=weekly" defer></script>
    <script src="../js/mapa/mapa.js"></script>
</body>
</html>